@model DirectorioV1.Api.Business.Models.ClientesDirecciones

@{
    ViewData["Title"] = "Administrador - Eliminar dirección";
}

<h1>Eliminar dirección</h1>

<h3>Esta seguro de hacerlo?</h3>
<div>
    <h4>Dirección</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Tipo_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Tipo_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Tipo_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Tipo_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Compuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Compuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad_Id)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barrio_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio_Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio_Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
    </form>
</div>
