@model DirectorioV1.Api.Business.Models.ClientesImagenes

@{
    ViewData["Title"] = "Administrador - Eliminar imagen";
}

<h1>Eliminar imagen</h1>

<h3>Esta seguro de continuar?</h3>
<div>
    <h4>Imagen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <td>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
            }
        </td>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
    </form>
</div>
