@model DirectorioV1.Api.Business.Models.Barrios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BarriosEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_Postal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_Postal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
